@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary-color: #1C9B9A;
  --secondary-color: #F1F1FF;
}

html,
body {
  padding: 0;
  /* max-width: max-content; */
  width: 85%;
  margin-top: 1.5vw;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-color);
  font-family: var(--font-stag), sans-serif;
  color: #333333;
}

@media (max-width: 768px) {
  html,
  body {
    width: 100%;
    margin-top: 0.8rem;

  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-weight: 900;
  text-transform: uppercase;
}


p {
  font-weight: 400;
  line-height: 1.7rem;
  font-size: 1rem;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-source-code-pro), monospace;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}
button {
  border: 2px solid #333333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: transparent;
  width: auto;
  text-transform: uppercase;
  margin: 0.8rem 0;
  height: 2.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-source-code-pro), monospace; 
  text-transform: uppercase;


}

button:hover {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);

}

